<head>
    <title>Purchase Completed</title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>
<br />
<br />
<br />
<header style="text-align:center; border: solid green 2px; padding:20px">

    <h2>Thank you!</h2>
    <br />
    <h3>Your order has been placed.</h3>


</header>

<br />

<body>
    <div style="display:inline-flex;">
        <ul class="list-group">
  <li class="list-group-item">
            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">To Home Page</a>
  </li>
  <li class="list-group-item">
            <a class="nav-link" asp-area="" asp-controller="Movies" asp-action="ShoppingView">Go Back To Movies</a>
  </li>
</ul>
    </div>


</body>






