@model IEnumerable<Movie_Store.Models.Movies>


@{
    ViewData["Title"] = "View";
}

<style>
    /*.card{align-items:flex-end}*/
   /* .cards {
  height: 200px;*/

        
}
</style>
<head>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @*@await RenderSectionAsync("Scripts", required: false)*@
</head>

<body>
    @{
                    <div class="card-group">
                        @foreach (var item in @Model){

                                    <div class="col-sm-3">
                                        <div class="card">
                                            <img src="@item.MovieImg" style="height: 350px" class="card-img-top" alt="...">
                                            <div class="card-body">
                                <p class="card-text">@Html.Partial("_moviePartial", item)</p>
                                @*<a asp-action="Buy" asp-route-Id="@item.Id">Add movie to cart</a>*@
                                <button class="btn btn-primary" onclick="addToCart(@item.Id)">Add to cart</button>
                                </div>
                             </div>
                            </div>
}
                    </div>
}
</body>

<script>
function addToCart(movieId) {
    $.ajax({
        type: "post",
        url: "/movies/addtocart",
        dataType: "json",
        cache: false,
        data: {id: movieId},
        success: function(data) {
            $('shopCount').html(data.value);
        }
    })
}

</script>
