@model IEnumerable<Movie_Store.Models.Movies>

@{
    ViewData["Title"] = "TopMovies";
}

<h1>TopMovies</h1>


<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.ReleaseYear)
            </th>
           
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseYear)
            </td>
           
        </tr>
}
    </tbody>
</table>
